<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>简单计算器</h1><p></p>
        <p>数值A:<input type="text" v-model="shuzhi_a"></p>
        <p>数值B:<input type="text" v-model="shuzhi_b"></p>
       <button @click="jisuan" >计算</button>
       <p>计算结果:<span v-text="num"></span></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app=new Vue({
            el:'#app',
            data:{num:0},
            methods:{
                jisuan:function(){
                    this.num=(this.shuzhi_a-0) + (this.shuzhi_b-0)
                }
            }
        })
    </script>
</body>
</html>